.header {
	padding: 37px 24px;
	background-color: #13171c;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Poppins', sans-serif;
}
.header__menu-button {
	z-index: 5;
}
.header__menu-button.active {
	position: fixed;
	right: 30px;
}
@media (min-width: 769px) {
	.header__menu-button {
		display: none;
	}
}
.header__menu-div {
	background-color: #fff;
	height: 5px;
	width: 30px;
	margin: 4px 0;
	transition: all 0.5s;
}
.header__menu-button .header__menu-div.line-1.active {
	transform: translateY(8px) rotate(45deg);
}
.header__menu-button .header__menu-div.line-2.active {
	opacity: 0;
}
.header__menu-button .header__menu-div.line-3.active {
	transform: translateY(-10px) rotate(-45deg);
}
.header__nav-mobile {
	line-height: 96px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #000;
	font-size: 42px;
	font-weight: 500;
	transform: translateY(-100%);
	transition: all 0.5s;
}
@media (min-width: 769px) {
	.header__nav-mobile {
		display: none;
	}
}
.header__nav-mobile.active {
	transform: translateY(0);
}
.header__nav-link {
	color: #eee;
	text-decoration: none;
}
.header__nav-desktop {
	display: none;
}
@media (min-width: 769px) {
	.header__nav-desktop {
		display: flex;
		justify-content: space-between;
		gap: 42px;
	}
}
