.services {
	padding: 85px 25px;
	background-image: url(../img/services-background.png);
	background-color: #0b0e14;
}
.services__container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 48px;
	color: #eee;
	font-family: 'Poppins', sans-serif;
}
@media (min-width: 960px) {
	.services__container {
		grid-template-columns: repeat(3, 1fr);
	}
}
.services__service {
	position: relative;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.services__service.active {
	border-radius: 16px;
	background-color: rgba(57, 62, 70, 0.5);
	backdrop-filter: blur(2px);
	max-width: 505px;
	padding: 30px;
	position: static;
	height: auto;
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-self: center;
}
.services__service-img {
	width: 100%;
	height: 158px;
	object-fit: cover;
	margin-bottom: 5px;
}
.services__service-title {
	margin: 10px 0 0 0;
	font-size: 33px;
	font-weight: 700;
	line-height: 100%;
	text-align: center;
}
.services__service-description {
	margin: 20px 0 0 0;
	flex-grow: 1;
}
