.services__container {
	margin: 60px 0;
	display: grid;
	grid-template-columns: 1fr;
	gap: 48px;
	color: #eee;
	font-family: 'Poppins', sans-serif;
}
@media (min-width: 960px) {
	.services__container {
		grid-template-columns: repeat(3, 1fr);
	}
}
.services__service {
	padding: 42px 26px;
	border-radius: 16px;
	background-color: rgba(57, 62, 70, 0.5);
	backdrop-filter: blur(2px);
	max-width: 505px;
	justify-self: center;
}
.services__service-img {
	width: 100%;
	height: 158px;
	object-fit: contain;
}
.services__service-title {
	margin: 0;
	font-size: 33px;
	font-weight: 700;
	line-height: 100%;
	text-align: center;
}
.services__service-description {
	margin: 20px 0 0 0;
}
