* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

/* ### About-Me Block ### */
.about-me {
	padding: 70px 45px;
	background-color: #192130;
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
@media (min-width: 769px) {
	.about-me {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 100px;
		padding-top: 100px;
		padding-bottom: 150px;
	}
}
/* .about-me__info-container {
} */
@media (min-width: 769px) {
	.about-me__info-container {
		max-width: 570px;
	}
}
.about-me__title {
	margin: 0 0 30px 0;
	font-size: 42px;
	font-weight: 700;
}
.about-me__description {
	margin: 0;
	font-size: 18px;
}
.about-me__personal-img {
	width: 250px;
	height: 300px;
	align-self: center;
}

/* ### Services Block ### */
.services__title {
	margin: 0 0 60px 0;
	font-size: 42px;
	font-weight: 700;
	color: #eee;
	text-align: center;
}
.services__title span {
	color: #00adb5;
}
