* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

/* Logo tanto del header como del footer */
.logo {
	height: 60px;
}

/* ### Welcome Block ### */
.welcome {
	background-color: #13171c;
	padding: 70px 45px;
}
@media (min-width: 769px) {
	/* No se si es lo mejor pero elegí hacerlo así */
	.welcome {
		padding-top: 100px;
		padding-bottom: 150px;
	}
}
.welcome__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}
@media (min-width: 769px) {
	.welcome__container {
		flex-direction: row;
		justify-content: center;
		gap: 100px;
	}
}
.welcome__title {
	margin: 0;
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	line-height: 125%;
	color: #eee;
}
@media (min-width: 769px) {
	.welcome__title {
		text-align: left;
	}
}
.welcome__title span {
	color: #00adb5;
	display: block;
}
/* .welcome__img {
} */

/* ### About-Me Block ### */
.about-me {
	padding: 70px 45px;
	background-color: #192130;
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
@media (min-width: 769px) {
	.about-me {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 100px;
		padding-top: 100px;
		padding-bottom: 150px;
	}
}
/* .about-me__info-container {
} */
@media (min-width: 769px) {
	.about-me__info-container {
		max-width: 570px;
	}
}
.about-me__title {
	margin: 0 0 30px 0;
	font-size: 42px;
	font-weight: 700;
}
.about-me__description {
	margin: 0;
	font-size: 18px;
}
.about-me__personal-img {
	width: 250px;
	height: 300px;
	align-self: center;
}

/* ### Services Block ### */
.services {
	padding: 85px 25px;
	background-image: url(../img/services-background.png);
	background-color: #192130;
}
.services__title {
	margin: 0;
	font-size: 42px;
	font-weight: 700;
	color: #eee;
	text-align: center;
}
.services__title span {
	color: #00adb5;
}
