* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.services {
	display: flex;
	flex-direction: column;
}
.services__project-link {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #eee;
	border-radius: 50px;
	background-color: #000;
	padding: 10px;
	margin-top: 10px;
}
@media (min-width: 769px) {
	.services__project-link:hover {
		background-color: #eee;
		color: #000;
		transition: background-color 0.4s, color 0.4s;
	}
}
.services__see-more-container {
	color: #eee;
	display: flex;
	justify-content: center;
}
.services__see-more-items {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
@media (min-width: 769px) {
	.services__see-more-items:hover {
		cursor: pointer;
		color: #00adb5;
		transition: color 0.3s;
	}
}
.services__see-more-icon {
	font-size: 24px;
}
.services__see-more__paragraph {
	font-size: 18px;
	font-weight: 400;
}
